.primary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: linear-gradient(135deg, #2563eb, #3b82f6);
    color: #fff;

    border: none;
    border-radius: 12px;

    padding: 14px 24px;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.25s ease;
}

.primary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(37, 99, 235, 0.35);
}

.primary-btn svg {
    font-size: 16px;
}

.secondary-btn {
    color: linear-gradient(135deg, #2563eb, #3b82f6);
    background: white;
    border: 2px solid linear-gradient(135deg, #2563eb, #3b82f6);;
    padding: 14px 24px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all .25s ease;
}

.secondary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(37, 99, 235, .35);
}